body{
    background-color:powderblue;
}
h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:red;
    font-family: verdama;
    font-size: 200%;
    border: 2px solid gold;
    padding: 30px;
    margin: 50px;
}